
.media{
    text-align: center;
    background-color: rgb(139, 133, 133);
    

}

.signup{
    background-color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}
input:focus {
    background-color: yellow;
    color: brown;
}
input:hover{
    background-color: orange;color: #f4f4f4;
}
input{
    border: 2px; color: green;padding: 5px;
}
input[type=text] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 24px;
}
textarea {
  width: 60%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: 1px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid blue;
  border-radius: 10px
}
input.button:hover{background-color: orange;}
.form-group{
  background: url("C:\Users\BITAGASE_BLSA\Desktop\Register\register-app\src\imgage.jpg");
 border-bottom-left-radius: initial;
}